.screen{
    background: #e0dce0;
}
.login{
    margin-top: 100px;
    padding-bottom: 20px;
}
.boton{
    background:#1c948c;
    border-radius: 20px;
    border-style: outset;
    border-color: Teal;
    white-space: nowrap;
    padding: 10px 22px;
    color: #010606;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-weight:bold;
}