.feed{
    flex:5.5
}

.feedWrapper{
    padding: 20px;
}
.carta{
  background:  #fff  ;
  box-shadow: 0 8px 2px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 12px );
  -webkit-backdrop-filter: blur( 12px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding:20px;
  width:1000px;
  max-height: 500px;
  overflow-y: scroll;
  white-space: initial;
}